:markdown
  some keywords:
  Solo, singer, songwriter, show, gig, performer, artist, musician, performer, performance, vocals, guitar, upcoming, young

  #home
  pics...

  #discography
  Giants Released Aug 13, 2009
  Educational & Values Based Music for Childeren between 6 and 60
  My Rock, Blues, County, Classical, Cajun, Native American, Bluegrass, Irish, Americana answer to the Wiggles
  Politik -No Scheduled Release 
  Folk Based Social Comentary

  The People and Places I've Been-No Sceduled Release  
  Life, Liberty, and the Pursuit of White Castles

  First Christmas" Released December  5, 2007

  To purchase Michael Begler's "First Christmas" simply click below

  http://void.snocap.com/s/T3-31324-BN9BP32UZB-2/
  All proceeds go to Theatre on Main Oconomowoc, Wi MERRY CHRISTMAS!!!!

  #shows
  ##2007 Drunken Conga Tour
  - December 22, 2007
    - Xtreme Bar
    - Appleton, WI
    - 8:30pm -12:30am

  - November 24, 2007
    - Oconomowoc, WI
    - Okauchee Lake
    - Bertrand'S Point Comfort  8pm-12

   - September 15, 2007
     - Elkhart Lake, WI
     - The Barefoot Tiki Bar
     - 7-11pm Canceled Weather

   - August 18, 2007
     - Chicago, IL
     - Belmont Harbor   7-11pm

   - June 30, 2007
     - Oconomowoc, WI
     - Okauchee Lake
     - Bertrand'S Point Comfort  8pm-12

   - June 23, 2007
     - Pewaukee, WI
     - Pewuakee Lake-Private Party

  ##2008 Conga Oddity Tour
   - MAY 8, 2008
     - UW-Green Bay 
     - Spring Luau 
     - 6:30-8:30

   - May 25, 2008
     - Sunday-Memeorial Day Weekend
     - Bertrand's Point Comfort
     - Okauchee Lake
     - 8 -12

   - June 20, 2008
     - Kewaunee, WI
     - Location TBD Canceled

   - July 17,2008
     - Moonlit Movies - Fowler Park
     - 6:30-8:30pm
     - Oconomowoc, WI
     - Charitable Event-Benefitting the Oconomowoc Food Pantry

   - July 19, 2008
     - Alpine Valley-Jimmy Buffett Concert
     - The Party in Parking Lot  
     - 2- 5:30

   - August 2, 2008
     - Private Party
     - Pewaukee Lake, WI

   - August 16, 2008
     - Chicago
     - Belmont Harbor
     - F Dock Annual Party
     - 7-10

   - September 6, 2008
     - Marti Music Festival
     - Ixonia, WI
     - Charitable Event-Benefitting the 
     - Oconomowoc Junior Women's 
     - Playground Project
     - www.martimusicfestival.com

   - September 27, 2008
     - America w/ Special Guest
     - Michael Begler
     - The Performing Art Center
     - Appleton WI

  ##2009 Giants Tour 
   - August 8, 2009
     - Mannng's Pub
     - 8pm-12am
     - Sheboygan, WI

   - August 13, 2009
     - Gaints CD Release
     - Moonlit Movies 
     - Downtown Oconomowoc, WI

   - Friday October 30, 2009
     - Theater on Main
     - Fundraiser Guest Appearance 
     - 8:00pm

   - Saturday October 31, 2009
     - 3rd Annual Halloween Party
     - Bertrand's Point Comfort
     - Okauchee Lake
     - 9pm-12:00

   - Saturday November 14, 2009
     - Latitudes Pub & Grill
     - W8546 US Hwy 12
     - Fort Atkinson, WI 53538 US 
     - Fort Atkinson's only Parrothead Paradise
     - 8- 12pm

  ##2010
  ???

  ##2011 Dates
   - March 19
     - Bertrand's
     - 8-12pm
     - Okauchee, WI

   - May 28
     - The Hide Away
     - 5-9pm
     - Okauchee Lake

   - June 18
     - St Jerome Festival
     - time TBD
     - Oconomowoc, WI

   - July 24 (Sunday) 2-6pm
     - Stone Bank Inn
     - Semi-Private show
     - Stone Bank, WI

   - Sept 22
     - Oconomowoc PAF
     - Private Show

   - Saturday Oct 29
     - Bertrand's Halloween Party
     - 8-12pm
     - Okauchee, WI

   - Saturday Nov 12
     - Moon Palace 
     - Cancun, Mexico

  ##2012 Mayan Calendar Tour
   - Oct 27 Halloween Party
     - Bertrand's on the Point
     - Okauchee Lake
     - 9pm-1am

   - Nov 24
     - Splash
     - Michale Begler & Friends 
     - Oconomowoc, WI
     - 8:30-12:30

   - Dec 21
     - Mickey's
     - Schofield, WI (Wausau)
     - 8-11pm

   - May 5, 2012
     - Cinco de Mayo
     - Oconomowoc, WI
     - Okauchee Lake
     - Bertrand's Point Comfort  
     - 8pm-12

   - May 26, 2012 
     - Luau Party
     - Oconomowoc, WI
     - Okauchee Lake
     - Hideaway 
     - Time 5-9pm

  ##2013 Tour
   - May 25, 2013 
     - Luau Party
     - Oconomowoc, WI
     - Okauchee Lake
     - Hideaway 
     - Time 5-9pm

   - Wed May 29 
     - 6-9pm
     - The Golden Mast-Okauchee

   - Sat July 27
     - Private Party

   - Sat Aug 3
     - Private Party Lac La Belle

   - Sat Aug 10 1-5pm
     - Foolery's-Okauchee

   - Wed Aug 28 6-9pm
     - The Golden Mast-Okauchee

  #contact us
    Michael Begler

    262.389.7002
    
    Email: mbegler@enterpriselighting.com

  #biography
  I guess my first memories of holding a guitar are from age 6 or 7, sitting in front of the TV watching the Johnny Cash Show and attempting to strum along.  I loved Cash.  I loved the fact that he was not interested in the prevailing winds (my song "Black"), nor was he burdened by the need to conform to the Nashville way. Though he based his show there.  He invited everyone from Merle Haggard to Neil Young, and from Opry standards like the Carter Family to Bob Dylan, and Eric Clapton to appear.  Cash celebrated their individual artistry, regardless of genre.  These artists became some of my greatest influences.  Others song writers that have led me to where I am include, America's greatest song writer-John Hiatt, Kris Kristofferson, Guy Clark, John Prine, Lyle Lovett, Steve Earle, Jimmy Buffett, and Todd Snider.   

  I don't take performing too seriously...when I am performing I think of myself as merely the ring master...the real show is the crowd.  Truth be told, I actually consider myself more of a writer and entertainer than a musician.  Dave Loggins referred to himself as "merely an apprentice in a musical workshop".  This, I shall forever be....but to those of you with true talent that have befriended me over the years, people like Moe Dixon, Joe Gorman, Tommy Graywolf, Swing Crew, and my dear friend Dr. Robert Prehn; I thank you for your patience and inspiration. 

  Music is my love and my laughter.  It has been my salvation and my frustration, and through the doors of opportunity and tunnels of time, music has been my most enduring companion.

  To the venues where I have played over the years; I thank you for allowing my circus to come to town.

  To my friends and fans, I thank you for allowing me to do what I love best.  I will never forget your faces in the crowd-drunk from shots of Patron and singing the words to a diferent song other than the one I am playing-God Love ya.  Finally to Kelly-my greatest fan, thank you for the inspiration, motivation, time, and enduring support.  

  I'll see you at the beach!

  God Bless,
  MB

  #songs
  - Brian Wilson - Bare Naked Ladies
  - Lean on me - Bill Withers
  - Down Easter Alexa - Billy Joel
  - Piano Man - Billy Joel
  - Run Around - Blues Traveler
  - Blowin' in the Wind - Bob Dylan
  - If you see her (say hello) - Bob Dylan
  - Knockin' on Heavens Door - Bob Dylan
  - Shelter from the storm - Bob Dylan
  - Tangled up in Blue - Bob Dylan
  - Redemption Songs - Bob Marley
  - Good Things - BoDeans
  - Still the Night - BoDeans
  - No Surrender - Bruce Springsteen
  - The River - Bruce Springsteen
  - Another Saturday Night - Cat Stevens
  - The First Cut is the Deepest - Cat Stevens
  - Southern Cross - Crosby, Stills, Nash
  - Mr. Jones & MeCounting - Crows
  - Leader of the Band - Dan Fogelberg
  - Part of the Plan - Dan Fogelberg
  - Please come to Boston - Dave Loggins
  - Breakfast at Tiffany's - Deep Blue Something
  - Romeo & Juliet - Dire Straits
  - American Pie - Don McLean
  - 3000 Miles - Ellis Paul
  - Daniel - Elton John
  - Allison - Elvis Costello
  - Veronica - Elvis Costello
  - Suspicious Minds - Elvis Presley
  - Cocaine - Eric Clapton
  - Wonderful Tonight - Eric Clapton
  - Bobby Brown - Frank Zappa
  - Callin' Baton Rouge - Garth Brooks
  - Boyz will be Boyz - Gear Daddies
  - Color of her eyes - Gear Daddies
  - Dream Vacation - Gear Daddies
  - Statue of Jesus - Gear Daddies
  - Wear your crown - Gear Daddies
  - Zamboni - Gear Daddies
  - Alison Road - Gin Blossoms
  - Hey Jealousy - Gin Blossoms
  - Lost Horizons - Gin Blossoms
  - Boat to Build - Guy Clark
  - Dublin Blues - Guy Clark
  - L.A.Freeway - Guy Clark
  - The Cape - Guy Clark
  - All my rowdy friends - Hank Williams, Jr.
  - Banana Boat - Harry Belefonte
  - Jamaica Farwell - Harry Belefonte
  - Cat’s in the Cradle - Harry Chapin
  - Circle - Harry Chapin
  - Taxi - Harry Chapin
  - Closer to fine - Indigo Girls
  - Land of Canaan - Indigo Girls
  - Running on Empty - Jackson Brown
  - So Damned bad last night - Jerry Jeff Walker
  - Locomotive Breath - Jethro Tull
  - Desparation Samba (Halloween in TJ) - Jimmy B
  - Boat Drinks - Jimmy Buffett
  - Changes in Latitudes - Jimmy Buffett
  - Cheeseburger in Paradise - Jimmy Buffett
  - Coconut Telegraph - Jimmy Buffett
  - Come Monday - Jimmy Buffett
  - Cuban Crime of Passion - Jimmy Buffett
  - Delany Talks to Staues - Jimmy Buffett
  - Distantly in Love - Jimmy Buffett
  - Everybody’s got a cousin - Jimmy Buffett
  - Farside of the World - Jimmy Buffett
  - Fins - Jimmy Buffett
  - Grapefruit Juicy Fruit - Jimmy Buffett
  - Great Filling Station Hold up - Jimmy Buffett
  - Incomunicado - Jimmy Buffett
  - Jolly Man - Jimmy Buffett
  - Lone Palm - Jimmy Buffett
  - Manana - Jimmy Buffett
  - Margaritaville - Jimmy Buffett
  - Nobody Speaks to the Captain - Jimmy Buffett
  - Pirate looks at forty - Jimmy Buffett
  - Quietly Making Noise - Jimmy Buffett
  - Remittance Man - Jimmy Buffett
  - Son of a Sailor - Jimmy Buffett
  - The Weather is Here - Jimmy Buffett
  - There's a woman/Carolinia Street - Jimmy Buffett
  - Tonight I Just Need My Guitar - Jimmy Buffett
  - Trying to Reason w/ Hurricane - Jimmy Buffett
  - Volcano - Jimmy Buffett
  - We are the people - Jimmy Buffett
  - When the Coast is Clear - Jimmy Buffett
  - Who’s the Blonde Stranger - Jimmy Buffett
  - Why don’t we get drunk - Jimmy Buffett
  - Boat to Build - Jimmy Buffett/Alan Jackson
  - 6 String Music - Jimmy Buffett/GE Smith
  - Banana Republic - Jimmy Buffett/Goodman
  - It's Five O'Clock Somewhere - Jimmy Buffett/Jackson
  - Leaving on a Jet Plane - John Denver
  - Back of my mind - John Hiatt
  - Buffalo River Home - John Hiatt
  - Slow Turning - John Hiatt
  - Tennessee Plates - John Hiatt
  - Through your Hands - John Hiatt
  - Illegal Smile - John Prine
  - Paradise - John Prine
  - Picture Show - John Prine
  - Angel From Montgomery - John Prine/Bonnie Raitt
  - Cocaine Blues - Johnny Cash
  - Folsum Prison Blues - Johnny Cash
  - Ring of Fire - Johnny Cash
  - Danny’s Song - Kenny Logins
  - House at pooh Corner - Kenny Logins
  - Me and Bobby McGee - Kris Kristofferson
  - The Pilgrim Chapter 33 - Kris Kristofferson
  - Cool Change - Little River Band
  - If I had a boat - Lyle Lovett
  - The Road to Ensanada - Lyle Lovett
  - This Old Porch - Lyle Lovett
  - Walking in Memphis - Marc Cohn
  - C’est La Vie - Marcus Bouvre
  - Fly over Land - Marcus Bouvre
  - Time Machine - Marcus Bouvre
  - Virgin Shades - Marcus Bouvre
  - Two out of three ain't bad - Meatloaf
  - Black - Michael Begler
  - Burning Bridges - Michael Begler
  - Champion - Michael Begler
  - Claire - Michael Begler
  - Debutante - Michael Begler
  - From this Day On - Michael Begler
  - Healing - Michael Begler
  - History Repeats Itself - Michael Begler
  - Karoke Kills the Ozone - Michael Begler
  - Least Traveled Paths - Michael Begler
  - Legacy - Michael Begler
  - Native Son - Michael Begler
  - Patient Heart of Gold - Michael Begler
  - Radio Flyer - Michael Begler
  - Sister Sea - Michael Begler
  - The Seasons of Us - Michael Begler
  - Walking in the Rain - Michael Begler
  - What would Dr. Phil do? - Michael Begler
  - \#49 - Michael McDerrmott
  - Come along Way - Michelle Shocked
  - Sweet Caroline - Neil Diamond
  - Cinnamon Girl - Neil Young
  - Hey Hey My My - Neil Young
  - Hurricane - Neil Young
  - Ontario - Neil Young
  - Powder Finger - Neil Young
  - Sugar Mountain - Neil Young
  - Put Down the Gun - Peter Case
  - Wish you were here - Pink Floyd
  - Rockville - R.E.M.
  - Meet Me on the Mountain - REO Speedwagon
  - Ridin' the Storm Out - REO Speedwagon
  - Take it on the Run - REO Speedwagon
  - Time for me to Fly - REO Speedwagon
  - Leaving Tennesse - Robert Earl Keen
  - The Road Goes on Forever - Robert Earl Keen
  - Jamie - Robert Prehn
  - Sound of Silence - Simon & Garfunkel
  - The Boxer - Simon & Garfunkel
  - Christmas in Washington - Steve Earle
  - Guitar Town - Steve Earle
  - Jerusalem - Steve Earle
  - You’re still standing there - Steve Earle
  - City of New Orleans - Steve Goodman
  - Elvis imitators - Steve Goodman
  - Souvenirs - Steve Goodman/Prine
  - Back In the High Life - Steve Winwood
  - After the Glitter Fades - Stevie Nicks
  - And She Was - Talking Heads
  - I like you better - The Badlees
  - The Weight - The Band
  - Get Back - The Beatles
  - Misguided Angel - The Cowboy Junkies
  - Southern Rain - The Cowboy Junkies
  - Last Resort - The Eagles
  - Peaceful Easy Feeling - The Eagles
  - Casey Jones - The Gratefull Dead
  - Friend of the Devil - The Gratefull Dead
  - Uncle John's Band - The Gratefull Dead
  - Handle me with care - The Traveling Wilbury's
  - Good to Go to Mexico - Toby Keith
  - Red, White, and Blue - Toby Keith
  - All Right Guy - Todd Snider
  - Beer Run - Todd Snider
  - Hey Hey Hey - Todd Snider
  - Just in case - Todd Snider
  - My Generation - Todd Snider
  - Vinyl Records - Todd Snider
  - Hard Promises - Tom Petty
  - The Waiting - Tom Petty
  - Brown Eyed Girl - Van Morrison
  - Roland - Warren Zevon
  - This Land is Your Land - Woddie Guthrie
